<div class="alert alert-danger alert-dismissible" *ngFor="let message of messages; let i=index">
  {{ message }}
  <button type="button" class="btn-close" (click)="close(i)"></button>
</div>
<form [formGroup]="signUpForm" (ngSubmit)="onSubmit()">
<div class="my-3 row">
  <label class="col-3 col-form-label">Nome:</label>
  <div class="col-9">
    <input type="text" class="form-control" formControlName="name">
  </div>
</div>
<div class="mb-3 row">
  <label class="col-3 col-form-label">Email:</label>
  <div class="col-9">
    <input type="email" class="form-control" formControlName="email">
  </div>
</div>
<div class="mb-3 row">
  <label class="col-3 col-form-label">Senha:</label>
  <div class="col-9">
    <input type="password" class="form-control" formControlName="password">
  </div>
</div>
<div class="mb-3 row">
  <label class="col-3 col-form-label">Repita a senha:</label>
  <div class="col-9">
    <input type="password" class="form-control" formControlName="passwordRepeat">
  </div>
</div>
<div class="mb-3 row">
  <div class="col">
    <button type="submit" class="btn btn-primary w-100" [disabled]="!isFormValid()">Enviar</button>
  </div>
</div>
</form>
<div class="mb-3 row">
  <div class="col text-center">
    <a [routerLink]="['auth/sign-in']" class="text-decoration-none fw-semibold">
      <fa-icon [icon]="faChevronLeft" class="me-2"></fa-icon>Voltar
    </a>
  </div>
</div>