<div class="alert alert-danger alert-dismissible" *ngFor="let message of dangerMessages; let i=index">
  {{ message }}
  <button type="button" class="btn-close" (click)="closeDanger(i)"></button>
</div>
<div class="alert alert-info alert-dismissible" *ngFor="let message of infoMessages; let i=index">
  {{ message }}
  <button type="button" class="btn-close" (click)="closeInfo(i)"></button>
</div>
<form [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit()">
<div class="my-3 row">
  <label class="col-3 col-form-label">Email:</label>
  <div class="col-9">
    <input class="form-control" type="text" formControlName="email">
  </div>
</div>
<div class="mb-3 row">
  <label class="col-3 col-form-label">Código recebido:</label>
  <div class="col-9">
    <div class="input-group">
      <input type="text" class="form-control" formControlName="code">
      <button class="btn btn-secondary" type="button" (click)="resendCode()">Reenviar</button>
    </div>
  </div>
</div>
<div class="mb-3 row">
  <label class="col-3 col-form-label">Nova Senha:</label>
  <div class="col-9">
    <input type="password" class="form-control" formControlName="password">
  </div>
</div>
<div class="mb-3 row">
  <label class="col-3 col-form-label">Repita a nova senha:</label>
  <div class="col-9">
    <input type="password" class="form-control" formControlName="passwordRepeat">
  </div>
</div>
<div class="mb-3 row">
  <div class="col">
    <button type="submit" class="btn btn-primary w-100" [disabled]="!isFormValid()">Enviar</button>
  </div>
</div>
</form>
<div class="mb-3 row">
  <div class="col text-center">
    <a [routerLink]="['auth/forgot-password']" class="text-decoration-none fw-semibold">
      <fa-icon [icon]="faChevronLeft" class="me-2"></fa-icon>Voltar
    </a>
  </div>
</div>