/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';

body {
  background-color: #c3c0bd;
  max-height: 100vh;
  height: 100vh;
}