<div class="row h-100 mh-100">
  <div class="col-3">
    <div class="d-flex flex-column flex-shrink-0 p-3 text-bg-dark h-100 mh-100">
      <a href="/" class="text-white text-decoration-none">
        <span class="fs-4">Application</span>
      </a>
      <hr>
      <ul class="nav nav-pills flex-column mb-auto">
        <li class="nav-item">
          <a href="#" class="nav-link active">
            Home
          </a>
        </li>
      </ul>
      <hr>
      <div class="d-flex">
        <a href="#" class="flex-grow-1 text-white text-decoration-none">
          <img src="https://github.com/mdo.png" alt="" width="32" height="32" class="rounded-circle me-2">
          <strong>mdo</strong>
        </a>
        <a href="#" class="text-white text-decoration-none">
          <fa-icon [icon]="faRightFromBracket" (click)="signOut()"></fa-icon>
        </a>
      </div>
    </div>
  </div>
  <div class="col-9">
    <router-outlet></router-outlet>
  </div>
</div>



